/*
TEMP STYLES
*/

.datereadout
{
	font-size: 50px;
	margin-top: 50px;
	width: 200px;
	margin: 0 auto;
	text-align: center;

}

/*
END TEMP
*/


.tl_holder
{
	width: 100%;
	height: 100px;
	overflow-y: visible;
	position: relative;
}

#tl_marker
{
	position: absolute;
	width: 10px;
	background-color: black;
	height: 100%;
	opacity: 0.4;
	left:50%;
	top:0px;
}

.tl_eventrange
{
	height: 10px;
	position:relative;

}

.tl_inner
{
	height: 110px;
	overflow-x: scroll;
	white-space: nowrap;
	overflow-y: visible;


}

.tl_year
{
	width: 40px;
	height: 50px;
	display: inline-block;
	text-align: center;
	vertical-align: middle;
}

.tl_yearline
{
	width: 5px;
	height: 40px;
	background-color: gray;
	margin: 0 auto;
}

.tl_month
{
	width: 62px;
	height: 30px;
	display: inline-block;
	border-bottom: dashed 5px black;

}

.tl_monthname
{
	width: 100%;
	height: 30%;
	text-align: center;
}

.tl_monthday
{
	width: 100%;
	height: 70%;

}

.tl_spacer
{
	width: 900px;
	display: block;
}

.tl_day
{
	width: 4px;
	height: 10px;
	background-color: blue;
	float:left;
}


.tl_track
{

	height: 10px;

	position: relative;
	margin-top: 5px;

}



.tl_tracksegment
{
	width: 100px;
	height: 8px;
	position: absolute;
	float: left;
	background-color: blue;
}

.tl_eventmarker
{
	position: absolute;
	width: 15px;
	height: 15px;
	border-radius: 8px;
	top: -3px;
	border: solid 4px #34495E;
	z-index: 1000;
}


#sv_holder
{
	width: 100%;
}

.sv_trackview
{
	width: 100%;


}

.sv_colbar
{
	width: 100%;
	height: 2px;
	background-color: red;
}

.sv_title
{
	width: calc(100% - 50px);
	display: inline-block;
	height: 30px;
	float: left;
}

.sv_content
{
	width: 100%;
	display: inline-block;
	height: 100px;
}

.sv_expand
{
	width: 50px;
	display: inline-block;
	height: 30px;
	float: left;
}

