/*
TEMP STYLES
*/

.datereadout
{
	font-size: 50px;
	margin-top: 50px;
	width: 200px;
	margin: 0 auto;
	text-align: center;

}

/*
END TEMP
*/


.tl_holder
{
	width: 100%;
	height: 100px;
	overflow-y: visible;
	position: relative;
}

#tl_marker
{
	position: absolute;
	width: 10px;
	background-color: black;
	height: 100%;
	opacity: 0.4;
	left:50%;
	top:0px;
}

.tl_eventrange
{
	height: 10px;
	background-color: blue;

	position:relative;

}

.tl_inner
{
	height: 110px;
	overflow-x: scroll;
	white-space: nowrap;
	overflow-y: visible;
}

.tl_year
{
	width: 40px;
	height: 50px;
	display: inline-block;
	text-align: center;
	vertical-align: middle;
}

.tl_yearline
{
	width: 5px;
	height: 40px;
	background-color: gray;
	margin: 0 auto;
}

.tl_month
{
	width: 62px;
	height: 30px;
	display: inline-block;


}

.tl_monthname
{
	width: 100%;
	height: 30%;
	text-align: center;
}

.tl_monthday
{
	width: 100%;
	height: 70%;

}

.tl_day
{
	width: 2px;
	height: 10px;
	background-color: blue;
	float:left;
}


.tl_track
{
	width: 100%;
	height: 10px;
	background-color: rgba(0,0,0,0.2);
	position: relative;
	margin-top: 5px;
}

.tl_tracksegment
{
	width: 100px;
	height: 8px;
	position: absolute;
	float: left;
	background-color: blue;
}

.tl_eventmarker
{
	position: absolute;
	width: 20px;
	height: 20px;
	background-color: red;
}


